.body{
    background-image:linear-gradient( rgba(46,17,20,0.5),rgba(80,27,29,0.9));
    background-size: cover;
   }
                        /**         HEADER FOR ALL PAGE        **/
                        
    .js{
    font-family: 'Philosopher', sans-serif;
    color: #ada;
    font-size: 2.5em ;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
       
    }
     
    #layout{
        display: grid;
        grid-template-rows: 3em 0fr 3fr;
        grid-template-columns:3fr 0.5fr 0.5fr 0.5fr 0.6fr ;
    
        background-color: #501b1d;
        opacity: 0.8;
        margin-top: 1fr;
        margin-bottom: 1fr;
        padding:25px ;
        position: relative;
        width: 100%;
        font-family: 'Philosopher', sans-serif;
    
    }

   .small, .photography{font-family: 'Philosopher', sans-serif;}

    abbr{
        text-decoration: none;
    }
                /**     NAVIGATION ANCHOR TEXT-STYLE FOR ALL PAGE        **/
    
     nav a{
        text-decoration: none;
        color: #adadad;
        margin: 0 1em;
        text-transform: uppercase;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    
                /**        NAVIGATION ANCHOR HOVER STYLE FOR ALL PAGE      **/
    
    nav a:hover{
       
    
        color:#501b1d;
    } 
    nav a:active{
      color: #adadad; 
      size: 1.5em; 
    }
    
    main{
        padding:1em;
        
    }
    .table-conatiner{
        grid-template-columns: 1fr 1fr;
    }
    
    
    
     .name::first-letter {
            font-size: 200%;
     }
     
     .photography{
         padding:1empx;
         color: #adadad;
     }
    
    
     .about_me{
        font-size: 0.5em ;
         top: 5vw;
         left:0vw;
         z-index: 5;
         line-height: 1.3em;
        
         color:#adadad;
        
    
     
     }
     .socialmedia{
         display: flex;
        width: 30px;
        height: 30px;
        float: right;
        padding: 5px;
        margin: left;
    }
    footer{
        
        display: grid;
        grid-template-rows: 3em 1em 2em;
        grid-template-columns:3fr 1fr;
        opacity: 0.5;
       
        border-top: 0.5em rgba(80,27,29,0.9);
        padding:10px;
        width: 100vw;
    }
    
    .small{
        grid-column-start:1 ;
        grid-column-end: 2;
    }
    .socialmedia{
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    
    
    
    .button{
        background:#501b1d;
        color:#adadad;
        border-radius: 3px;
        transition: transform 0.3s ease;
        
        
        }
        .button:hover{
            transform: translate(-12px,-12px);
        }
        .button:hover::after{
            transform: translate(6px,6px);
        }
        .button:hover::before{
            transform: translate(12px,12px);
        }
        form .button{
            padding:10px;
        }
        
        .button::after,  .button::before{
            content:"";
            position:absolute;
            opacity:0.2;
         background: #adadad;
            border-radius: inherit;
            width: fit-content;
            height: fit-content;}
            /**left:0;
            bottom:0;
            z-index: -1;
            transition: transform 0.3s ease;
        }
        
        **/
         .pp{
            margin-top: 50px;
           
        }
        .pp{
            width:600px;
            padding:2em;
        }
       
    
         
    
    
        /**        THE END           */
        
             
        /* PORTFOLIO CSS*/
        .grid-container{
            max-width:800px;
            height:650px;
            
            color: #2e1114;
    
            display: grid;
            
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            gap:1em;
        }
        
        
        .flex-container{
            display:flex;
            
            
        }
        .flex-item{
            flex:1;
        }
    
        .flex-item5{
            flex-flow: row;
        }
    
    
        /*buul*/
        
    
             
    
        #red{
            color: #501b1d;
        }
        .table-conatiner{
            padding: 0 10%;
        margin: 40px auto 0;

    }
    caption{
        font-size: 1.5em;
        text-align: center;
        color:#2e1114;
        margin-bottom: 0.5em;
    
    }
    .main_portfolio{
        color: #2e1114;
        font-size: 20px;
        font-family:'Philosopher', sans-serif; 
     }
    .table-conatiner{
       
        margin:40px auto 0;
        width: 300px ;
        height:200px;
    
    }
    
        .table{
            width: 100px;
            border-collapse: collapse;
            align-items: center;
           max-width: 80vw;
            font-size: 1em;
            margin:2em;
            
    
        }
    .table thead{
        
        background-color: #2c3531 ;
    }
        .table thead tr th{
           
            color:#d1e8e2 ;
            text-align: left;
            font-weight: 600;
            font-size: 1.3em;
            letter-spacing: 0.35px;
            opacity: 1;
            padding: 1em;
            vertical-align: top;
            
    
    
        }
    
    
         .table td tr tbody{font-size: 1em;
            letter-spacing: 0.35px;
            font-weight: normal;
            padding: 2px;
            text-align: center;
            border-bottom: 1px solid #adadad ;}
        
        .table tbody tr :last-of-type{
            border-bottom:#2e1114;
        }
        .table tbody tr :nth-of-type(even){
            background-color:#adadad ;
        }
        /*          THE END!              */
    
    
        /*      CONTACT FORM CSS   DONE    */
        
        
        .container{
            width: 80%;
            padding: 5em;
            margin:2em;
            border: 0.5em solid rgba(46,17,20,0.8);

        }
        .container h2{
            color: #2e1114;
            font-size: 3em;
            text-align: center;
            margin-bottom: 30px;
        }
        .fieldset{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
            grid-gap: 1fr;
            gap: 1fr;
            font-size: 1.75em;
        }
        .fieldset .info_box{
            margin:1em;
        }
        
      
    
            
        
    
    
        
            
        
      
        
    
                /*           THE END!!         */
    
    
    
    
                
    
    
        .about_me .ppp{
            top: 0;
        }
       
    
            
    
            /*          PHOTOGRAPHY     CSS     */ 
    
            .photo_container{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
                grid-gap: 2rem;
            }
            .photo_style{
                display: flex;
                flex-flow: column;
                padding:2rem;
            }
            
            .photoo{
                order: -1;
                align-self: center;
                width: 400px;
                height:450px;
                border: 0.5em solid rgba(46,17,20,0.8);
            }
            .location{
               
                align-self: center;
                color: #2e1114;
            }
           
      /*          PHOTOGRAPHY     DONE  CHECK NAMING   responsive??  */
    
    
    
      
    
      
    
    
    
    
    
    
    
    
    
    .home {
       max-width: 100vw;
       display: grid;
       grid-template-columns: 1.25fr 1fr ;
       gap: 2rem;
       font-family: 'Karma', serif;
    }

    .welcome{
       grid-column-start: 1;
       grid-column-end:2;
       grid-row-start: 1;
       grid-row-end: 2;
       font-size: 2em ;
        left:0vw;
        margin:0.5em;
        margin-top: 3em;
        line-height: 1.3em;
        color: #2e1114;
         font-family: 'Karma', serif;
     
    }
a{
    text-decoration: none;
    color:#adadad;
}


.about_me{
   font-family: 'Karma', serif;
   font-size: 1.5em;
   color: #2e1114;
}
p{
    color: #2e1114;
}






    .container{ 
    font-family: 'Karma', serif;}

    
    .welcome_picture{
        margin-top: 3.5em;
    }
    .home_picture{
       grid-column-start: 2;
       grid-column-end:3;
       grid-row-start: 1;
       grid-row-end: 2;
       margin-top: 1em;
    
    }
    .home_ads{ 
       grid-column-start:3 ;
       grid-column-end: 4;
       grid-row-start: 1;
       grid-row-end: 2;
       margin-top: 5em;
    max-width: 300px;
    box-sizing:content-box;
    
    border: 0.5em solid rgba(46,17,20,0.8);
    border-style:inset;
    height: 60vh;
    background-color: #adadad;
    
    
    
    }
    .note{
        padding:0.5em;
    }
    
    
    .ads{
       display: flex;
       flex-flow: column;

    
    }
    
    
    figcaption{
        margin: 1px;
       color:  #501b1d;
    }
    
    
   
    
    /********* my project *****************/
     
    
    .description{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .project_course{
        margin-top:  1em ;
    }
     .certificate{
         max-width: 400px;
         margin: 1em;
         border: 0.25em solid rgba(46,17,20,0.8); 
         
     }
     
      .certificate{
          width: 100%;
    
      }
      .projects{
          font-size: 1.25em;
          color: #2e1114;
          padding: 3em;
        
      }
    
    
    
    
    
    .my_pic{
        width:100%;
        max-width: 400px;
        border: 0.25em solid rgba(46,17,20,0.8); 
    }
    
    
    
    
    
    .about_me{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto auto;
        grid-gap: 3em 1em;
    
    }
    .description{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        color: #2e1114;
        font-size: 1em;
        align-items: center;
        
    
    }
    .picture{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
           
    }
    .list{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3; 
    }
    .to_photography{                        /******check**********/
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3; 
    }
    
    #icon{
        display: none;
        cursor: pointer;
    }
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        background-color: white;
      }
    
    
    
    .paragraph{
        margin: 0 auto;
    }
   /** .mobile-menu {
        display: none;}
        label{
            color:#116466;
        }
*/


          @media only screen and (max-width: 500px) {
            textarea{
                width: 100%;
            }  
           .table, .pp{width: 100%;}
        }

        @media only screen and (max-width: 800px) {
            .home{
              display:block;
              flex-wrap: wrap;
           }
           .description{ display: block;
               flex-wrap: wrap;}
           .main_portfolio{
               display: block;
               flex-wrap: wrap;
           }
           .about_me{
               display: block;
               flex-wrap: wrap;
           }
           .my_pic{
               max-width: 300px;
               border: 0.25em solid rgba(46,17,20,0.8); 
           
           }
           
          
           
               
           }
           @media only screen and (max-width: 940px) {
            .photoo {
             max-width: fit-content;}
            .photo_style{
                margin:auto
            }
            @media(max-width:768px){
                #icon{
                  display: block;
                }
              
                #icon.active .bar:nth-child(2){
                  opacity: 0;
                }
                #hamburger.active .bar:nth-child(1){
                  transform: translateY(8px) rotate(45deg);
                }
                #hamburger.active .bar:nth-child(3){
                  transform: translateY(-8px) rotate(-45deg);
                }
              
                .nav-menu{
                  position: fixed;
                  left: -100%;
                  top: 70px;
                  gap: 0;
                  flex-direction: column;
                  background-color: #262626;
                  width: 100%;
                  text-align: center;
                  transition: 0.3s;
                }
              
                .nav-item{
                  margin: 16px 0;
                }
              
                .nav-menu.active{
                  left: 0;
                }
              }
        }


        @media screen and (max-width: 940px){
                
            .pp{
                width: 100%;
            }
            .table{
                width: 55%;
                
            }
            .welcome{
                padding:1em;
                font-size: 1em;
                display: block;
                flex-wrap: wrap;
                margin-top: 1em;

            }
            
           
            
          }


          @media screen and (min-width: 480px) { 
            main .ppp { 
            float:right; 
            margin: 0 1em 1em 0; 
            } }
            
        @media screen and (min-width:px){
            .pp{
                size: 12rem;
                
            }
            
            
        }
        @media screen and (max-width: 320px) {
            table {
              display: block;
              overflow-x: auto;     }
       }

    